In [1]:
%load_ext autoreload
%autoreload 2
%pwd

'/workspace'

In [2]:
! pip uninstall cudams -q -y
! pip install git+https://github.com/tornikeo/cosine-similarity.git@pre-release-1

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting git+https://github.com/tornikeo/cosine-similarity.git@dev
  Cloning https://github.com/tornikeo/cosine-similarity.git (to revision dev) to /tmp/pip-req-build-uh4skuf9
  Running command git clone --filter=blob:none --quiet https://github.com/tornikeo/cosine-similarity.git /tmp/pip-req-build-uh4skuf9
  Running command git checkout -b dev --track origin/dev
  Switched to a new branch 'dev'
  Branch 'dev' set up to track remote branch 'dev' from 'origin'.
  Resolved https://github.com/tornikeo/cosine-similarity.git to commit 8a84557132bd6a6bc1b759681b7bdc7e5a2a058d
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: matchms>=0.24.0 in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (0.24.2)
Requirement already satisfied: rdkit in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (2023.9.5)
Requirement already satisfied: h5py in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (3.10.0)
Requirement already satisfied: pydantic in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (2.6.2)
Requirement already satisfied: numba in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (0.57.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (2.2.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (1.3.2)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (4.65.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from cudams==0.0.1) (2.31.0)
Requirement already satisfied: deprecated<2.0.0,>=1.2.14 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (1.2.14)
Requirement already satisfied: lxml<5.0.0,>=4.9.3 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (4.9.4)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.2 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (3.8.3)
Requirement already satisfied: networkx<4.0,>=3.1 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (3.1)
Requirement already satisfied: numpy<1.25 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (1.24.4)
Requirement already satisfied: pickydict<0.5.0,>=0.4.0 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (0.4.0)
Requirement already satisfied: pillow!=9.4.0 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (10.2.0)
Requirement already satisfied: pubchempy in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (1.0.4)
Requirement already satisfied: pyteomics<5.0,>=4.6 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (4.7.1)
Requirement already satisfied: pyyaml<7.0.0,>=6.0.1 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (6.0.1)
Requirement already satisfied: scipy<1.11 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (1.10.1)
Requirement already satisfied: sparsestack<0.5.0,>=0.4.1 in /opt/conda/lib/python3.10/site-packages (from matchms>=0.24.0->cudams==0.0.1) (0.4.1)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /opt/conda/lib/python3.10/site-packages (from numba->cudams==0.0.1) (0.40.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas->cudams==0.0.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas->cudams==0.0.1) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas->cudams==0.0.1) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->cudams==0.0.1) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->cudams==0.0.1) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->cudams==0.0.1) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests->cudams==0.0.1) (2024.2.2)
Requirement already satisfied: annotated-types>=0.4.0 in /opt/conda/lib/python3.10/site-packages (from pydantic->cudams==0.0.1) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /opt/conda/lib/python3.10/site-packages (from pydantic->cudams==0.0.1) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /opt/conda/lib/python3.10/site-packages (from pydantic->cudams==0.0.1) (4.9.0)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/conda/lib/python3.10/site-packages (from deprecated<2.0.0,>=1.2.14->matchms>=0.24.0->cudams==0.0.1) (1.16.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.7.2->matchms>=0.24.0->cudams==0.0.1) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.7.2->matchms>=0.24.0->cudams==0.0.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.7.2->matchms>=0.24.0->cudams==0.0.1) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.7.2->matchms>=0.24.0->cudams==0.0.1) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.7.2->matchms>=0.24.0->cudams==0.0.1) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.7.2->matchms>=0.24.0->cudams==0.0.1) (3.1.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->cudams==0.0.1) (1.16.0)
Building wheels for collected packages: cudams
  Building wheel for cudams (pyproject.toml) ... done
  Created wheel for cudams: filename=cudams-0.0.1-py3-none-any.whl size=18065 sha256=a3914f4ceaa198a9131d0c10d63d8204a08f87f8c71c9490d5210cd99b97b717
  Stored in directory: /tmp/pip-ephem-wheel-cache-9h6_j37u/wheels/69/5a/b2/042e17f5c3a426762af6e3eded8492596b447c5c6dd3dcfdd8
Successfully built cudams
Installing collected packages: cudams
Successfully installed cudams-0.0.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# Load data

In [3]:
from cudams.utils import \
    argbatch, mkdir, get_ref_spectra_from_df
import math
from pathlib import Path
import pandas as pd
from itertools import product
from time import perf_counter
from multiprocessing.pool import ThreadPool
from multiprocessing import shared_memory
import numpy as np
import json
import matplotlib.pyplot as plt
import matplotlib
from tqdm import tqdm
import torch
import numba
from numba import cuda

assert torch.cuda.is_available()
assert cuda.is_available()

In [5]:
from cudams.similarity.kernels import compile_cuda_cosine_greedy_kernel

match_limit = 1024
max_peaks = 1024
batch_size = 2048 * 2 # Works best on rtx4090. Use half for most other less advanced hardware (i.e. T4)
threshold = .75

kernel = compile_cuda_cosine_greedy_kernel(
    tolerance=.1,
    shift=0,
    mz_power=0,
    int_power=1,
    match_limit=match_limit,
    batch_size=batch_size,
)

In [6]:
from cudams.utils import download_cosine_100k_sample
from pathlib import Path

spectra_file = download_cosine_100k_sample('spectra_100k.csv')

In [7]:
! du -h *

58M	data/output
58M	data
4.0K	onstart.sh
4.0K	ports.log
60M	spectra_100k.csv
32K	vastai_sparse_sample.ipynb

In [8]:
from cudams.utils import get_spectra_batches

references, queries, batched_inputs = get_spectra_batches(
    reference_csv_file=spectra_file, # File paths
    query_csv_file=spectra_file,
    batch_size=batch_size, # Batch size for processing - large batch size requires more powerful hardware, and is faster
    max_peaks=max_peaks, # Number of max peaks in each batch. Large number requires much more memory and time, but is more accurate (after 1024, it doesn't matter much)
    padding=None, # Not required for current kernels
    # max_pairs=(batch_size**2) * 256 # we use 256 batches
    max_pairs=None # load ALL of the rows for pairwise comparison!
)

100%|██████████| 100001/100001 [00:28<00:00, 3512.24it/s]

In [15]:
print(f'Number of pairs {len(references) * len(queries):.3e}')

Number of pairs 1.000e+10

In [16]:
device = torch.device('cuda')
host = torch.device('cpu')

! rm -rf data/output
! mkdir -p data/output

with torch.no_grad():
    for batch_i in tqdm(range(len(batched_inputs))):
        (rspec, rlen, rstart, rend), (qspec, qlen, qstart, qend) = batched_inputs[
            batch_i
        ]
        
        lens = torch.zeros(2, batch_size, dtype=torch.int32)
        lens[0, :len(rlen)] = torch.from_numpy(rlen)
        lens[1, :len(qlen)] = torch.from_numpy(qlen)
        
        lens = lens.to(device)
        out = torch.zeros(3, batch_size, batch_size, dtype=torch.float32, device=device)
        
        rspec = torch.from_numpy(rspec).to(device)
        qspec = torch.from_numpy(qspec).to(device)
        
        rspec = cuda.as_cuda_array(rspec)
        qspec = cuda.as_cuda_array(qspec)
        lens = cuda.as_cuda_array(lens)
        out = cuda.as_cuda_array(out)
        
        kernel(rspec, qspec, lens, out)

        out = torch.as_tensor(out, device=device)
        mask = out[0] >= threshold
        row, col = torch.nonzero(mask, as_tuple=True)
        rabs = rstart + row
        qabs = qstart + col
        score, matches, overflow = out[:, mask].to(host)
        np.savez_compressed(
            f'data/output/{rstart}-{rend}-{qstart}-{qend}.npz', 
            rabs=rabs.int().to(host), 
            qabs=qabs.int().to(host), 
            score=score.float(),
            matches=matches.int(),
            overflow=overflow.bool()
        )

100%|██████████| 625/625 [01:51<00:00,  5.63it/s]

In [41]:
math.ceil(100_000 / batch_size)**2

625

In [19]:
from pathlib import Path

! du -hs data/output/

total_size = sum(f.stat().st_size for f in Path('data/output').glob('**/*') if f.is_file())
print(f'Total file size {total_size/1e9:.3f} GB')

117M	data/output/
Total file size 0.121 GB

In [20]:
qabs = []
rabs = []
score = []
matches = []
overflow = []
for file in tqdm(Path('data/output').glob('*.npz')):
    bunch = np.load(file)
    qabs += [bunch['qabs']]
    rabs += [bunch['rabs']]
    score += [bunch['score']]
    matches += [bunch['matches']]
    overflow += [bunch['overflow']]

In [21]:
qabs = np.concatenate(qabs)
rabs = np.concatenate(rabs)
score = np.concatenate(score)
matches = np.concatenate(matches)
overflow = np.concatenate(overflow)

In [23]:
# Suppose we want to query these absolute query IDs, and sort their results
query = np.array([1, 42, 121, 99_999])

In [38]:
from IPython.display import display
for q in query:
    idx = qabs == q
    res = np.stack([rabs[idx], score[idx], matches[idx], overflow[idx]],axis=1)
    res = pd.DataFrame(res, columns='ReferenceID Score Matches Overflow'.split())
    print(f"Similarity for chemical with QueryID={q}")
    display(res)

Similarity for chemical with QueryID=1

     ReferenceID     Score  Matches  Overflow
0            0.0  0.990495     14.0       0.0
1            1.0  1.000000     15.0       0.0
2            2.0  0.992786     12.0       0.0
3            3.0  0.954024     12.0       0.0
4            4.0  0.899819     12.0       0.0
..           ...       ...      ...       ...
263      86600.0  0.934475      3.0       0.0
264      86601.0  0.933939      2.0       0.0
265      86602.0  0.931802      1.0       0.0
266      86603.0  0.919519      5.0       0.0
267      86604.0  0.899346      6.0       0.0

[268 rows x 4 columns]

Similarity for chemical with QueryID=42

    ReferenceID     Score  Matches  Overflow
0          40.0  0.794153      5.0       0.0
1          41.0  0.862276      8.0       0.0
2          42.0  1.000000     11.0       0.0
3          43.0  0.800063      9.0       0.0
4         428.0  0.762022      2.0       0.0
5         456.0  0.762229      2.0       0.0
6       21673.0  0.794153      5.0       0.0
7       21674.0  0.862276      8.0       0.0
8       21675.0  1.000000     11.0       0.0
9       21676.0  0.800063      9.0       0.0
10      22061.0  0.762022      2.0       0.0
11      22089.0  0.762229      2.0       0.0

Similarity for chemical with QueryID=121

     ReferenceID     Score  Matches  Overflow
0          116.0  0.883796      4.0       0.0
1          117.0  0.890043      6.0       0.0
2          118.0  0.892549      6.0       0.0
3          119.0  0.901887      6.0       0.0
4          120.0  0.940933      9.0       0.0
..           ...       ...      ...       ...
214      83483.0  0.765802      2.0       0.0
215      83484.0  0.755249      2.0       0.0
216      83487.0  0.862562      2.0       0.0
217      83488.0  0.790962      2.0       0.0
218      83501.0  0.886042      2.0       0.0

[219 rows x 4 columns]

Similarity for chemical with QueryID=99999

      ReferenceID     Score  Matches  Overflow
0            64.0  0.774653     24.0       0.0
1            65.0  0.960330     25.0       0.0
2            77.0  0.859591     26.0       0.0
3            78.0  0.963014     26.0       0.0
4           451.0  0.825203     20.0       0.0
...           ...       ...      ...       ...
1221      99988.0  0.946494     25.0       0.0
1222      99989.0  0.900003     22.0       0.0
1223      99997.0  0.783493     21.0       0.0
1224      99998.0  0.956027     25.0       0.0
1225      99999.0  1.000000     28.0       0.0

[1226 rows x 4 columns]